<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NewsMapper" >
  <select id="selectList"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="param!=null">
      AND title LIKE #{param}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="selectNewsListCount"  parameterType="map" resultType="int" >
    SELECT COUNT(1) FROM tbl_news WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="title!=null">
      AND title LIKE CONCAT('%',#{title},'%')
    </if>
  </select>

  <select id="selectNewsList"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="title!=null">
      AND title LIKE CONCAT('%',#{title},'%')
    </if>
    <if test="is_recommend!=null">
      AND is_recommend = #{is_recommend}
    </if>
    ORDER BY create_time DESC
    <if test="top5!=1">
      LIMIT #{startIndex},#{pageSize}
    </if>
    <if test="top5==1">
      LIMIT 0,5
    </if>
  </select>


  <select id="selectNewsOutListCount"  parameterType="map" resultType="int" >
    SELECT COUNT(1) FROM tbl_news_out WHERE 1 = 1
    <if test="news_source!=null">
      AND news_source = #{news_source}
    </if>
  </select>

  <select id="selectNewsOutList"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news_out WHERE 1 = 1
    <if test="id!=null">
      AND news_source = #{news_source}
    </if>
    ORDER BY create_time DESC
    LIMIT #{startIndex},#{pageSize}
  </select>


  <select id="selectPraiseInfo" parameterType="map" resultType="map">
    SELECT * FROM tbl_news_praise
    WHERE 1=1
    <if test="id!=null">
      and id = #{id}
    </if>
    <if test="innews_kind!=null">
      and innews_kind = #{innews_kind}
    </if>
    <if test="operator_ip!=null">
      and operator_ip = #{operator_ip}
    </if>
    <if test="news_id!=null">
      and news_id = #{news_id}
    </if>
  </select>

  <insert id="addPraiseInfo" parameterType="map">
    INSERT INTO `tbl_news_praise`
    (innews_kind,news_id,operator_ip,create_time)
    VALUES (#{innews_kind},#{news_id},#{operator_ip},#{create_time});
  </insert>

  <delete id="delPraiseInfo" parameterType="java.lang.Integer" >
    DELETE FROM `tbl_news_praise` WHERE id = #{id}
  </delete>

  <update id="changeNewsPraiseCount" parameterType="map">
    UPDATE
    <if test="isInnerNews==1">
      tbl_news
    </if>
    <if test="isInnerNews!=1">
      tbl_news_out
    </if>
    <if test="operator==1">
      SET praise_count = praise_count + 1
    </if>
    <if test="operator==0">
      SET praise_count = praise_count - 1
    </if>
    WHERE id = #{id};
  </update>
</mapper>