<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 系统配置 -->
<mapper namespace="SymbolGroupMapper">

    <select id="selGroupByServer" parameterType="map" resultType="map">
        SELECT *
        FROM `tbl_symbol_group`
            WHERE group_name = #{groupname}
        LIMIT 0,1
    </select>
    
</mapper>

