<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="NewsMapper" >
  <select id="selectList"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news WHERE 1 = 1
    <if test="param!=null">
      AND title LIKE #{param}
    </if>
    ORDER BY create_time DESC
  </select>

  <select id="selectListPage"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="param!=null">
      AND title LIKE  CONCAT('%',#{param},'%')
    </if>
    ORDER BY create_time DESC
    <if test="startIndex!=null">
      LIMIT #{startIndex},#{pageSize}
    </if>
  </select>

  <select id="selectListPageCount"  parameterType="map" resultType="int" >
    SELECT count(1) FROM tbl_news WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="param!=null">
      AND title LIKE  CONCAT('%',#{param},'%')
    </if>
  </select>


  <select id="selectNewsOutCount"  parameterType="map" resultType="int" >
    SELECT count(1) FROM tbl_news_out WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="param!=null">
      AND (jinshi_content LIKE  CONCAT('%',#{param},'%') OR content LIKE  CONCAT('%',#{param},'%'))
    </if>
  </select>

  <select id="selectNewsOutPage"  parameterType="map" resultType="map" >
    SELECT * FROM tbl_news_out WHERE 1 = 1
    <if test="id!=null">
      AND id = #{id}
    </if>
    <if test="param!=null">
      AND (jinshi_content LIKE  CONCAT('%',#{param},'%') OR content LIKE  CONCAT('%',#{param},'%'))
    </if>
    ORDER BY create_time DESC
    <if test="startIndex!=null">
      LIMIT #{startIndex},#{pageSize}
    </if>
  </select>
</mapper>