<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="org.jsoncloud.project.mt4platform"/>

    <tx:annotation-driven transaction-manager="transactionManager"/>



    <context:property-placeholder location="classpath:db.properties"
                                  ignore-unresolvable="true"></context:property-placeholder>

    <!-- 数据源
        德鲁伊数据源 不需要
        如果不写会自动根据URL获取到
    -->
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driverClassName}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxActive" value="${jdbc.maxActive}"/>
        <property name="proxyFilters">
            <list>
                <ref bean="stat-filter"/>
            </list>
        </property>
    </bean>

    <!-- druid监控统计bean 对应上文dataSource中的proxyFilters -->
    <bean id="stat-filter" class="com.alibaba.druid.filter.stat.StatFilter">
        <property name="slowSqlMillis" value="1000"/>
        <property name="logSlowSql" value="true"/>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean"
          scope="prototype">
        <property name="dataSource" ref="ds"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations">
            <list>
                <value>classpath:org/jsoncloud/project/mt4platform/dao/*Mapper.xml</value>
                <value>classpath:mybatis/*Mapper.xml</value>
            </list>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="org.jsoncloud.project.*.dao;"/>
    </bean>

    <!-- template -->
    <bean id="template" class="org.mybatis.spring.SqlSessionTemplate"
          scope="prototype">
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>

    <!-- mybatisDao -->
    <bean id="mybatisDao" class="org.jsoncloud.framework.mybatis.MybatisDao">
        <property name="template" ref="template"/>
    </bean>
    <bean id="applicationUtil" class="org.jsoncloud.framework.web.util.ApplicationUtil"/>

    <!-- 配置spring注解事务 -->
    <bean id="transactionManager"
          class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="ds"/>
    </bean>

    <!-- 定时任务 -->
    <!--<task:annotation-driven />-->



    <bean class="org.jsoncloud.project.mt4platform.runner.controller.MainController" id="mainController"
          init-method="init"/>
    <task:scheduled-tasks>
        <!--<task:scheduled ref="mainController" method="orderTask" cron="0/1 * *  * * ? "/>-->
        <!--<task:scheduled ref="mainController" method="createOrderTask" cron="0/1 * *  * * ? "/>-->
        <!--<task:scheduled ref="mainController" method="closePositionTask" cron="0/1 * *  * * ? "/>-->

        <task:scheduled ref="mainController" method="readSymbolInfo" cron="0 0/10 * * * ?"/>
        <!--<task:scheduled ref="mainController" method="readSymbolInfo" cron="0/5 * * * * ?"/>-->
        <!--计算库存费不要-->
        <!--<task:scheduled ref="mainController" method="updateStorage" cron="0 0 6 * * ?"/>-->
        <!--<task:scheduled ref="mainController" method="updateStorage" cron="0/5 * *  * * ? "/>-->
    </task:scheduled-tasks>


    <bean class="org.jsoncloud.project.mt4platform.runner.controller.GetSymbolController" id="getSymbolController"
          init-method="init"/>
    <task:scheduled-tasks>
        <task:scheduled ref="getSymbolController" method="symbolsTask" cron="0/1 * *  * * ? "/>
    </task:scheduled-tasks>

    <bean class="org.jsoncloud.project.mt4platform.runner.controller.AmendSymbolController" id="amendSymbolController"
          init-method="init"/>
    <!--修正报价的最高最和最低值-->
    <task:scheduled-tasks>
        <task:scheduled ref="amendSymbolController" method="amendSymbol" cron="0 0/10 * * * ?"/>
    </task:scheduled-tasks>


    <!--每一分钟获取一次新闻-->
    <bean class="org.jsoncloud.project.mt4platform.runner.controller.NewsController" id="newsController"
          init-method="init"/>
    <task:scheduled-tasks>
        <task:scheduled ref="newsController" method="getJinShiMessage" cron="0/5 * * * * ?"/>
    </task:scheduled-tasks>


    <import resource="spring-mvc.xml"/>
    <import resource="spring-redis.xml"/>
    <!--<import resource="spring-mvc-interceptors.xml" />-->
    <!--<import resource="spring-quartz.xml" />-->
    <!--<import resource="spring-date.xml" />-->
</beans>